html {
	box-sizing: border-box;
	font-size: 10px;
	background: #ffc600;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Amatic SC', cursive;
}

h1 {
	text-align: center;
	font-size: 10rem;
	line-height: 1;
	margin-bottom: 0;
}

.score {
	background: rgba(255, 255, 255, 0.2);
	padding: 0 3rem;
	line-height: 1;
	border-radius: 1rem;
}

.difficulties {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
}

.difficulty {
	padding: 5px 35px;
	margin: 0 15px;
	border-radius: 20px;
	font-family: 'Amatic SC', cursive;
	font-size: 2.5rem;
	border: none;
	background-color: transparent;
}

.difficulty:hover {
	cursor: pointer;
}

.difficulty-selector {
	background-color: rgba(255, 0, 0, 0.438);
}

.start-button {
	margin: 25px auto 20px auto;
	display: block;
	padding: 10px 20px;
	border: none;
	border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size: 3rem;
	transition: all 0.25s;
}

.start-button:hover {
	cursor: pointer;
}

.start-button:active {
	transform: translateY(5px);
	background-color: rgba(0, 0, 0, 0.25);
}

.game {
	width: 600px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto 70px auto;
}

.game:hover {
	cursor: url(img/Yeezy.png), auto;
}

.hole {
	flex: 1 0 33.33%;
	overflow: hidden;
	position: relative;
}

.hole:after {
	display: block;
	background: url(img/dirt.svg) bottom center no-repeat;
	background-size: contain;
	content: '';
	width: 100%;
	height: 70px;
	position: absolute;
	z-index: 2;
	bottom: -30px;
}

.kanye {
	background: url('img/Kanye.png') bottom center no-repeat;
	background-size: 60%;
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	transition: all 0.4s;
}

.hole.up .kanye {
	top: -10px;
}

.difficulty-selector {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	border-radius: 20px;
	/* width: 100px;
  height: 100px;
  background-color: red; */
	transition: transform 0.3s;
}

.kanyes-quote {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	font-size: 5rem;
}

.hidden {
	display: none;
}
